/* Headeris */

.container-fluid.header{
    background-color: #c6d8d3;
    z-index: 500;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: #c6d8d3!important;
}


li.nav-item {
    display: flex;
    align-items: center;
}

a.nav-link {
    color: #414770;
}

a.nav-link span {
    color: #d84797;
}

.login button {
    background: #414770;
    color: #C6D8D3;
    border-radius: 5px;
    width: 165px;
    height: 55px;
    left: 1380px;
    top: 32px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

/* ---- */




/* Modal */

.modal-content.rounded-4.shadow {
    background: #c6d8d3;
}

button.w-100.mb-2.btn.btn-lg.rounded-3.btn-primary {
    background: #414770;
    color: #c6d8d3;
    border: none;
}

h1.fw-bold.mb-0.fs-2 {
    color: #414770;
}

h2.fs-5.fw-bold.mb-3 {
    color: #414770;
}

p.fs-5.py-3.mb-3 {
    color: #414770;
}

/* ---- */





/* Karuselė */

.c-item {
    height: 550px;

}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);

}

.carousel-btn button {
    background: #414770;
    color: #c6d8d3;
    border-radius: 5px;
    width: 165px;
    height: 55px;
    margin: auto;
}

/* ---- */



/* Pristatymas */

.container-fluid.welcome{
    background-color: #c6d8d3;
    
}

.container-fluid.welcome h2 {
    color: #333333;
    font-family: 'Lora';
    font-style: normal;
    line-height: 69px;
    text-align: center;
    height: 69px;

}

.container-fluid.welcome h2 span{
    color: #D84797;
    font-family: 'Lora';
    font-style: normal;
    line-height: 69px;
    text-align: center;
    width: 457px;
    height: 69px;
    
}

.container-fluid.welcome{
    height: 100px;

}

.line{
    background: #D84797;
    width: 900px;
    height: 3px;
    left: 910px;
    top: 1257px;
}

/* ---- */




/* Pagrindinės kortelės */


.container-fluid.main.d-flex.justify-content-center {
    /* height: 679px;   ant sekciju dydzio geriau nededame */
    background: white;

}


.favorite.d-flex.justify-content-center h1{
    color: #333333;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 900;
    line-height: 69px;
    text-align: center;
    height: 69px;
    margin-top: 50px;
}

.cards{
    margin-top: 20px;
}

.card-head {
    height: 300px;
    background-color: #666666; 
}

img.favorite {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-body {
    height: 100%;
}

.atraste p{
    text-align: center;
    height: 24px;
}


.pavadinimas h1{
    text-align: center;
    height: 80px;
}

.text p{
    text-align: center;
}

.button {
    justify-content: center;
}

.donatend{
    justify-content: center;
    margin-top: 61px;
    margin-bottom: 61px;
}

.donatend button {
    background: #414770;
    color: #C6D8D3;
    border-radius: 5px;
    width: 165px;
    height: 55px;
    left: 1380px;
    top: 32px;
}

/* ---- */




/* Kodėl verta rinktis (Akordeonas) */

.container-hero {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.pirmas-hero {
    width: 50%;
}

.antras-hero {
    width: 50%;
}

.antras-hero h2 {
    text-align: center;
    margin-right: 37px;
    }


.container-fluid.hero {
    height: 600px;
    background-color: pink;
    width: 100%;
}


.container-fluid.hero h1{
    color: #FFFFFF;
    width: 535px;
}

.container-fluid.hero h1 span{
    color: #FF7000;

}

.container-fluid.hero p{
    color: #666666;
    }

.hero button{
    margin-top: 40px;

}


/* ---- */





/* Akordijonas  */


.accordion {
    background-color: brown;
    color: yellow;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: green;
  }
  
  .accordion:after {
    content: '\002B';
    color: blue;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  button.accordion {
    margin-top: 8px;
    border-top-right-radius: 80px 80px;
    border: solid;
    border-color: red;
}

/* ---- */


/* Prisijunk prie kolektyvo */

.container-fluid.banner {
    background-color: black;
    /* height: 639px; ant sekciju dydzio geriau nededame */
    padding-top: 124px;
    padding-bottom: 120px;
}

.container-fluid.banner h1 {
    color: #FFFFFF;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 69px;
    margin-bottom: 29px;
    text-align: center;
    
}

.container-fluid.banner h1 span{
    color: #FF7000;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 69px;
    
}

.container-fluid.banner .pavadinimasbanner p{
    color: aqua;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 58px;
}

.container-fluid.banner .aprasymas p{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 47px;
    text-align: center;
    padding-left: 320px;
    padding-right: 320px;
}

.donaterd button{
    background: #FFFFFF;
    width: 187px;
    height: 55px;
    color: #FF7000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.donateth button{
    background: aqua;
    width: 187px;
    height: 55px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}


/* ... */






/* Footeris */

.container-fluid.footer{
    background-color: grey;
    padding-top: 50px;
    padding-bottom: 20px;

}

.logofooter{
    margin-bottom: 20px;
}

.aprfooter{
    color: #FFFFFF;
    width: 227px;
    height: 161px;
    left: 375px;
    top: 8968px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}



.follow{
    color: #FFFFFF;
    width: 227px;
    height: 161px;
    left: 375px;
    top: 8968px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.line-footer .line{
    background: pink;
    width: 50px;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 16px;

}

.nav-footer-tittle h5{
    color: pink;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    
}

.nav-footer ul {
    list-style-type: "> ";
    padding-left: 15px;
  }


.nav-footer .nav-link{
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 17px;
}

.follow{
    color: #FFFFFF;
    width: 227px;
    height: 130px;
    left: 375px;
    top: 8968px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.icons {
    display: flex;
    gap: 30px;
}

/* .... */






















 /* lg */
  @media (min-width: 768px) and (max-width: 992px) {
  .third-card.col-md-12.col-lg-4.col-xl-4.col-xxl-4 {
    margin-top: 50px;
    margin-left: 170px;
    width: 50%;
    }
}
/* md */
@media (min-width: 576px) and (max-width: 767px) {
    .third-card.col-sm-12.col-md-12.col-lg-4.col-xl-4.col-xxl-4 {
        margin-top: 50px;
    margin-left: 140px;
    width: 50%;
    }
}
/* sm */
@media (min-width: 200px) and (max-width: 575px) {
    .line{
        margin-top: 100px;
    }

    .first-card.col-sm-6.col-md-6.col-lg-4.col-xl-4.col-xxl-4,
    .second-card.col-sm-6.col-md-6.col-lg-4.col-xl-4.col-xxl-4,
    .third-card.col-sm-12.col-md-12.col-lg-4.col-xl-4.col-xxl-4 {
        margin-top: 50px;
    }

  }

  @media (max-width: 768px) {
    .container-fluid.header .donate.d-flex.align-items-center {
      display: none !important;
    }
  
    .container-fluid.header .d-flex.w-100.justify-content-between {
      justify-content: center !important;
    }
  
    .container-fluid.header .custom-mobile {
      flex-direction: column-reverse !important;
      align-items: center !important;
      justify-content: center !important;
    }
  }